.praramba {
    background: yellow;
    width: 50%;
    background-size: cover;
    height:100px ;
    border:2px dashed pink;;
    margin: auto;
    
    

}
.praramba:hover{
    border-width:10px;
    background:blue;
    color:red;


}
h1{
    text-align: center;
    text-decoration: solid;
}
body {
    background:green;

}
.praramba1 img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}


}
